<nav class="navbar navbar-dark bg-dark justify-content-between">
  <span class="navbar-brand"><h1>D2MP</h1> // Exotic Quest Coordinator</span>
  <div>
    <a class="navbar-brand" href="https://github.com/jcipriano/d2mp" target="_blank">Source code on Github</a>
  </div>
</nav>