.container-fluid {
  margin: 15px 0;
  font-size: 14px;
}

.item-image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: #666 1px solid;
}

.list-group-item {
  line-height: 45px;
  white-space: nowrap;
}

.list-group-item.active {
  font-size: 18px;
  font-weight: bold;
}

.list-group-item-success {
  background-color: #00bc8c;
  color: #FFF;
}

.navbar {
  font-size: 18px;
}

.navbar h1 {
 display: inline;
 font-size: 18px;
 font-weight: bolder;
}

.jumbotron {

  padding-bottom: 80px; }
  {
    }
    .jumbotron .btn-primary:hover {
     }
  .jumbotron p {
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

