body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #111;
}

.col-sm {
  margin-right:1px;
}

.navbar {
  font-size: 18px;
}

.navbar h1 {
 display: inline;
 font-size: 18px;
 font-weight: bolder;
}

.container-fluid {
  margin: 15px 0;
  font-size: 14px;
}

.card {
  border: 1px;
  border-color: #FFF;
  border-radius: 0;
  background: none;
}

.card-header.active {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  white-space: nowrap;
  border: 0px;
  border-color: #222;
  border-radius: 0;;
}

.card-header .dropdown {
  font-size: 20px;
  white-space: nowrap;
  color: #FFF;
}

.card-body {
  padding: 0;
}

.list-group-hidden {
  display: none;
}

.list-group {
  border-radius: 0px;
  margin: 0px;
}

.list-group-item, .list-group-item.disabled, .list-group-item-success {
  line-height: 45px;
  white-space: nowrap;
  overflow: hidden;
  background-position: -1px 0px;
  margin: 1px 0 0 0;
  border-width: 0px;
}

.list-group-item-success {
  background-color: #00bc8c;
  color: #FFF;
}

.disabled img {
  opacity: 50%;
}

.character-list-item {
  line-height: 60px;
  font-size: 14px;
}

.character-description {
  margin-left: 70px;
}

.item-image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: #666 1px solid;
}

.dropdown-item {
  cursor: pointer;
}

.jumbotron {

  padding-bottom: 80px; }
  {
    }
    .jumbotron .btn-primary:hover {
     }
  .jumbotron p {
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

